
@{
    ViewBag.Title = "Users";
}
@section scripts {
    @Scripts.Render("~/bundles/app")
}
<!DOCTYPE html>
<html>
<head>
    <style>


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <center> <h2> List of All Users </h2> </center>

    <div>
        <div class="panel-body">
            <table>
                <tr>
                    <th>userID</th>
                    <th>email</th>
                    <th>user</th>
                    <th>password</th>
                    <th>number</th>
                </tr>
            </table>
            <table cellpadding="10" data-bind="foreach: user">
                <tr>
                    <td> <span data-bind="text: userID"></span> </td>
                    <td> <span data-bind="text: email"></span> </td>
                    <td> <span data-bind="text: user"></span> </td>
                    <td> <span data-bind="text: password"></span> </td>
                    <td> <span data-bind="text: number"></span></td>
                    <td> <a href="#" data-bind="click: $parent.getUserDetails" class="btn btn-primary btn-xs">Select</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>

    <!-- TODO: View Product Details >> Update/Delete -->
    <div class="col-md-offset-6" id="userdetails" data-bind="if: userdetails()">
        <!-- if details containing the return product, i.e. not null
        Then the div will be shown with the data-binding as shown -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Details</h2>
            </div>
            <form class="form-horizontal">
                <table class="table">

                    <tr><td>User Id><td><input type="text" id="userID" class="form-control" readonly data-bind="value: userdetails(). userID" /></td></tr>
                    <tr><td>email><td><input type="text" id="email" class="form-control" readonly data-bind="value: userdetails(). email" /></td></tr>
                    <tr><td>user><td><input type="text" id="user" class="form-control" readonly data-bind="value: userdetails(). user" /></td></tr>
                    <tr><td>password><td><input type="text" id="password" class="form-control" readonly data-bind="value: userdetails(). password" /></td></tr>
                    <tr><td>number><td><input type="text" id="number" class="form-control" readonly data-bind="value: userdetails(). number" /></td></tr>
                    <tr></tr>
                </table>
                   
                    <div colspan="2" align="center">

                        <a href="#" data-bind="click:removeUser" class="btn btn-primary">Remove</a>
                    </div>
                </form>
                    <div id="button" align="center">
                        <a href="newUser" class="btn btn-primary">Add New User</a>
                    </div>
            </div>
</body>
</html>

